* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	text-align: center;
}

form {
	margin-top: 30vh;
	text-align: center;
}

form input {
	width: 400px;
	height: 50px;
	padding: 10px;
	font-size: 18px;
	font-family: Arial;
}

form h1{
	margin: 40px;
}

form button {
	margin: 20px; 
	border: none;
	width: 400px;
	height: 40px;
	outline: none;
	cursor: pointer;
	font-size: 16px;
}

.img-div {
	margin-top: 100px;
}

